# Supabase (optionnel — l'application fonctionne aussi avec localStorage)
VITE_SUPABASE_URL=https://rocmhxfnhomdylndrrgd.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_KYBeSyDciWw_sjcQ8t2epg_OZn6a6DX